
﻿body {
    background-image: url(../images/pexels-photo-2398220.jpeg)
}

h1 {
    color: darkgoldenrod;
    text-shadow: 1px 1px 2px black;
}

form {
    color: darkgoldenrod;
    text-shadow: 1px 1px 2px black;
}

table {
    color: antiquewhite;
    border: groove;
    border-width: 5px;
    border-color: darkgoldenrod;
    background-color: #133926;
}


a {
    color: goldenrod;
}

    a:hover {
        color: orange;
    }
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: antiquewhite;
}
